body {
  margin: 0;
}
.wrapper {
  margin: 0 auto; 
  width: 100vw;
  height: 100vh; 
  background-color: red;
}
.menu {
  width: 100vw;
  height: 40px;
  background-color: blue;
  position: fixed;
  top: 0;
}
.menu_hide { 
  animation: hide-menu 1s;
}
.menu_show {
  animation: show-menu 1s;
}
@keyframes hide-menu {
  0% {
    height: 40px;
  }
  100% {
    height: 0px;
  }
} 
@keyframes show-menu {
  0% {
    height: 0;
  } 
  100% {
    height: 40px;
  }
}
.logo {
  width: 60px;
  height: 30px;
  margin-right: auto;
  background-color: white;
}
.menu_container {
  margin: 0 auto;
  width: 300px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: violet;
}
.menu_item {
  width: 60px;
  height: 30px;
  justify-self: end;
  margin-left: 10px;
  text-decoration: none;
  background-color: purple;
  border: none;
}
.games {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  z-index: 5;
}
.games_show {
  animation: games-show 2s;
}
.games_hide {
  animation: games-hide 2s;
}
@keyframes games-show {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes games-hide {
  0% {
    left: 0;
  }
  100% { 
    left: -100vw;
  }
}
.games_content {
  width: 300px;
  height: 400px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.about {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  z-index: 5;
} 
.about_show {
  animation: about-show 2s;
}
.about_hide {
  animation: about-hide 2s;
}
@keyframes about-show {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
@keyframes about-hide {
  0% {
    top: 0;
  }
  100% { 
    top: -100vh;
  }
}
.about_content {
  width: 300px;
  height: 400px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.contact {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  z-index: 5;
} 
.contact_show {
  animation: contact-show 2s;
}
.contact_hide {
  animation: contact-hide 2s;
}
@keyframes contact-show {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}
@keyframes contact-hide {
  0% {
    right: 0;
  }
  100% { 
    right: -100vw;
  }
}
.contact_content {
  width: 300px;
  height: 400px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.contact_telegram,
.contact_email {
  width: 200px;
  height: 40px;
}


.translate_game_window {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game_window_start {
  width: 300px;
  height: 400px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
.start_btn,
.settings_btn,
.games_translate,
.games_lorem {
  width: 150px;
  height: 40px;
  opacity: 1;
}
.start_btn_animate {
  animation: start-game-button 2s;
}
.start_window_animate {
  animation: start-game-window 2s;
}
@keyframes start-game-button {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes start-game-window {
  0% {
    width: 300px;
    height: 400px;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}
